<footer>
    <ul>
        <li>
            <a href="/"><img src="images/icons/stack.svg" alt="Home"></a>
        </li>
        <li>
            <a href="matchlist"><img src="images/icons/likes.svg" alt="Matchlist"></a>
        </li>
        <li>
            <a href="profile"><img src="images/icons/profile.svg" alt="Profile"></a>
            <!-- Profile is active, should be colored -->
        </li>
    </ul>
</footer>