<ul>
    <li>
        <a href="/">
            <h1>Dat.io</h1>
        </a>

    </li>

    <li>
        <a href="filter">
            <img src="images/icons/filterIcon.svg" alt="Filter icon">
        </a>
    </li>
</ul>