*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #dbdcef;
  color: black;
}

/** Header **/

header {
  margin: 1em 1em 0.5em 1em;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  list-style-type: none;
  text-decoration: none;
}

header ul li a {
  text-decoration: none;
  color: #4e50b8;
}

header ul li:nth-of-type(2) {
  margin-left: 1em;
}

/** Footer **/

footer {
  background-color: white;
  box-shadow: black;
  padding: 0.3em 0em;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
}

footer ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  list-style-type: none;
  text-decoration: none;
}

footer ul li a img {
  text-align: center;
  font-size: 2rem;
  color: black;
  padding: 0.5rem 2.2rem;
}

/******************************************************************************
                          Home page
*******************************************************************************/

/** Main **/

.swipe main {
  margin: 0vh 5vw;
}

.swipe main ul {
  width: 90vw;
}
.swipe main ul li {
  width: 90vw;
  position: absolute;
  list-style-type: none;
  margin-top: 0.5em;
  margin-bottom: 5rem;
}

.swipe section {
  position: relative;
  width: 100%;
  height: 73vh;
  background-color: white;
  border-radius: 1em;
  box-shadow: 2px 2px 4px grey;
}

.swipe section img:nth-of-type(1) {
  width: 90%;
  height: 70%;
  object-fit: cover;
  margin: 5% 5% 0% 5%;
}

.swipe .info {
  max-width: 3em;
  position: absolute;
  left: 2em;
  top: 2em;
}

.swipe section p {
  background-color: #999ace;
  color: white;
  font-weight: 300;
  font-size: 14px;
  border-radius: 0.2em;
  padding: 0.5em 0.9em;
  text-decoration: none;
  position: absolute;
  left: 2.25em;
}

.swipe section p:nth-of-type(1) {
  bottom: 26vh;
}

.swipe section p:nth-of-type(2) {
  bottom: 34vh;
}

.swipe section article {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-top: -1rem;
  padding-top: 0.5em;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 0em 0em 1em 1em;
}

.swipe section article h2 {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.swipe section article h3 {
  font-weight: 300;
  font-size: 1em;
}

.swipe section article form {
  width: 90%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.swipe section article form div {
  width: 40%;
}

.swipe section article form input[type='submit'] {
  font-size: 32px;
  padding: 0.4em 0.75em;
  background-color: #e8e8e8;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  background-color: none;
  box-shadow: 2px 2px 4px grey;
}

.swipe section article form input[type='submit']:nth-of-type(2) {
  padding: 0.4em 0.6em;
  background-color: #eb4b71;
  color: white;
}

.swipe .noUsersError {
  margin-top: 1em;
  width: 100%;
  height: 75vh;
  background-color: white;
  border-radius: 1em;
}

.swipe .noUsersError h2 {
  padding-top: 1.5em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.swipe .noUsersError img {
  width: 25%;
  height: auto;
  margin: 0% 37%;
}

.swipe .noUsersError p {
  position: relative;
  padding: 0;
  background: none;
  color: black;
  text-align: center;
  margin-top: 5em;
}

.swipe .noUsersError a {
  text-align: center;
  text-decoration: none;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background-color: #eb4b71;
  box-shadow: 1px 1px 2px rgb(49, 49, 49);
  border: none;
  display: flex;
  width: 68vw;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0.6em 0.5em;
}

/******************************************************************************
                          Sign In page
*******************************************************************************/

.currentUser {
  margin: 0;
}

.currentUser main {
  margin-top: -1em;
}

.currentUser section .back {
  position: absolute;
  top: 2em;
  left: 5%;
  z-index: 4;
}

.currentUser section .back a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.currentUser main section .headimage {
  position: fixed;
  width: 100vw;
  height: 105vh;
  object-fit: cover;
}

.currentUser main section .gradient {
  background-image: linear-gradient(
    to top,
    rgba(153, 154, 206, 1),
    rgba(153, 154, 206, 0.01)
  );
  width: 100%;
  height: 35vh;
  position: absolute;
  top: 55vh;
}
.currentUser main section article:nth-of-type(1) {
  color: white;
  width: 90%;
  height: 5em;
  position: absolute;
  left: 50%;
  margin-left: -45%;
  top: 69vh;
}

.currentUser main section article:nth-of-type(1) h2 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.currentUser main section article:nth-of-type(1) h3 {
  font-weight: 400;
}

.currentUser main section article:nth-of-type(2) {
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 86vh;
  background-color: white;
  padding-top: 2.5em;
  border-radius: 1.5em 1.5em 0em 0em;
}

.currentUser main section article:nth-of-type(2) .bar {
  height: 4px;
  width: 50px;
  background-color: #aaaaaa;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
  top: 3vh;
  left: 50%;
  margin-left: -25px;
}

.currentUser .socials {
  width: 90%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.currentUser .socials div {
  padding: 1em 1.5em;
  background-color: #dbdcef;
  border-radius: 1em;
  text-align: center;
  border-radius: 0.5em;
}

.currentUser .socials div a i {
  border-radius: 0.5em;
  font-size: 2em;
  color: #4e50b8;
}

.currentUser .info {
  width: 90%;
  height: auto;
  margin: 0% 5%;
}

.currentUser .info .movies p {
  font-weight: 700;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.currentUser .imagebar {
  width: 90%;
  height: 5em;
  margin: 1em 5%;
  display: flex;
  justify-content: space-between;
}

.currentUser .imagebar img {
  width: 28vw;
  height: 7em;
  object-fit: cover;
}

.currentUser main section article form {
  width: 90%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  height: 2em;
  margin-bottom: 3em;
  margin-top: 6em;
}

.currentUser main section article form div {
  width: 40%;
}

.currentUser .like {
  font-size: 24px;
  padding: 0.5em 0.9em;
  margin-top: -1em;
  border-radius: 50%;
  background-color: #eb4b71;
  color: white;
  border: none;
}

.currentUser .dislike {
  font-size: 24px;
  padding: 0.5em 0.9em;
  margin-top: -1em;
  border-radius: 50%;
  background-color: #e8e8e8;
  border: none;
}

.currentUser footer {
  visibility: hidden;
}

/*****************************************************************************
                          Sign In page
*******************************************************************************/

.signin main {
  width: 90vw;
  height: 25em;
  background-color: white;
  border: solid 2px #bcbdea;
  border-radius: 0.3em;
  margin: 0 auto;
  margin-top: 10vh;
}

.signin main p:first-of-type {
  position: absolute;
  left: 4em;
  top: 10em;
  font-size: 0.8em;
  color: red;
  font-weight: 700;
}

.signin main div:nth-of-type(1) {
  margin: 2.5em 10%;
  width: 80%;
  display: block;
}

.signin main div label {
  display: block;
  font-weight: 700;
  margin-top: 1em;
}

.signin main form div input {
  width: 100%;
  padding: 12px 0px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #eb4b71;
  background-color: white;
}

.signin main form div:nth-of-type(2) {
  margin-top: 2em;
}

.signin main form div:nth-of-type(2) input:nth-of-type(1) {
  width: 20px;
  margin-left: 10%;
  margin-bottom: 2em;
}

.signin main div:nth-of-type(2) button {
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 400;
  background-color: #eb4b71;
  box-shadow: 1px 1px 2px rgb(49, 49, 49);
  color: white;
  padding: 14px 20px;
  border: black;
  cursor: pointer;
  width: 80%;
  margin: 0em 10%;
  border-radius: 0.5em;
}

.signin div:nth-of-type(2) div {
  display: flex;
  justify-content: space-between;
}

.signin div:nth-of-type(2) div a {
  color: black;
  text-decoration: none;
}
.signin div:nth-of-type(2) div a:nth-of-type(1) {
  padding: 10px 2%;
  background-color: hotpink;
  border-radius: 0.5em;
  background: white;
  color: #4e50b8;
  border: solid 2px #bcbdea;
}

.signin div:nth-of-type(2) div a:nth-of-type(2) {
  padding: 15px 0px;
  font-size: 0.7em;
}

/******************************************************************************
                          Registration page
*******************************************************************************/

.registration main {
  width: 90vw;
  margin: 0 auto;
  margin-top: 3em;
  background-color: white;
  border: solid 2px #bcbdea;
  border-radius: 0.3em;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.registration main form {
  width: 90%;
  margin: 0% 5%;
}
.registration main form h2 {
  margin: 1.5em 0em 1em 0em;
}
.registration main form div {
  margin-bottom: 1em;
}

.registration main form div label {
  display: block;
  margin: 0.5em 0em 0.5em 0em;
  font-weight: 700;
}

.registration main form div input {
  width: 100%;
  padding: 12px 0px;
  margin-bottom: 1em;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #eb4b71;
  background-color: white;
}

.registration main form div:nth-of-type(3) div {
  display: flex;
  justify-content: flex-start;
}

.registration main form div:nth-of-type(3) div label {
  margin-right: 10%;
  font-weight: 500;
}

.registration input[type='radio'] {
  align-items: center;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  font-weight: 100;
}

.registration .inputfile {
  color: #4e50b8;
  background-color: #d7d7d7;
  border: none;
  margin-right: 1.5em;
  text-decoration: none;
}

.registration main form button {
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 400;
  background-color: #eb4b71;
  box-shadow: 1px 1px 2px rgb(49, 49, 49);
  color: white;
  padding: 14px 20px;
  border: black;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5em;
  margin-top: 3em;
}
.registration main form a {
  font-size: 1em;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px;
  background: white;
  color: #4e50b8;
  border: solid 2px #bcbdea;
  border-radius: 0.5em;
  margin-top: 1em;
  display: inline-block;
}

/******************************************************************************
                          Profile page
*******************************************************************************/

.profile div {
  margin-top: 1.5em;
  width: 100%;
}
.profile main img {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profile main h2 {
  text-align: center;
  margin: 0.7em 0em;
  color: #4e50b8;
}

.profile main section {
  width: 90%;
  height: auto;
  margin: 1em 5% 5em 5%;
  color: black;
}

.profile main section div {
  background: white;
  width: 90%;
  border-radius: 1em;
  margin: 0em 0em 1em 0em;
  border: 2px solid #4e51b2;
  padding: 0.5em 1em 0.5em 1em;
}

.profile input[type='submit'] {
  padding: 1em 2em;
  background-color: white;
  margin: 0em 3em;
}

.profile form:nth-of-type(2) {
  margin-bottom: 6em;
}

/******************************************************************************
                          Filters page 
*******************************************************************************/

.filtersPage {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.filtersPage header {
  display: flex;
  margin: 1em 0em 1em 0em;
  border-bottom: solid 1px #bdbdbd;
  padding-bottom: 1em;
}

.filtersPage header h1 {
  font-size: 2em;
  margin: 0 auto;
}

.filtersPage header a {
  color: black;
}

.filtersPage header a:active {
  color: #4e50b8;
}

.filtersPage header a img {
  padding-top: 0.5em;
}

.filtersPage main section form button {
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background-color: #eb4b71;
  box-shadow: 1px 1px 2px rgb(49, 49, 49);
  border: none;
  margin: 0 auto;
  position: fixed;
  bottom: 6em;
  padding: 0.8em 1em;
  width: 90%;
}

.filtersPage main section form fieldset {
  border: none;
  margin-bottom: 1em;
}

.filtersPage main section form fieldset label {
  font-weight: 300;
}

.filtersPage main section form fieldset:nth-of-type(1) div {
  display: inline-block;
  margin-right: 8%;
}

.filtersPage main section form fieldset:nth-of-type(2) label {
  display: block;
  margin-bottom: 0.3em;
}

.filtersPage main section form fieldset:nth-of-type(2) input {
  display: block;
}

.filtersPage main section form fieldset:nth-of-type(2) input:nth-of-type(1) {
  margin-bottom: 0.5em;
}

.filtersPage main section form fieldset:nth-of-type(3) span {
  font-size: 16px;
  color: black;
  font-weight: 300;
}

.filtersPage main section form fieldset legend {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: black;
  font-weight: 500;
}

.filtersPage main section form fieldset select {
  font-size: 1em;
  background: white;
  border: solid 2px #bcbdea;
  border-radius: 0.3em;
  padding: 0.5em;
}

.filtersPage main section form fieldset select:focus,
input:focus {
  outline: none;
}

.filtersPage main section form fieldset input {
  font-size: 1em;
  border: solid 2px #bcbdea;
  background-color: white;
  border-radius: 0.3em;
  padding: 0.5em;
}

.filtersPage main section form fieldset input:nth-of-type(7) {
  opacity: 0;
}

.filtersPage main section form fieldset input[type='radio'] {
  transform: scale(1.5);
  margin-left: 0.4em;
}

.remove {
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 400;
  color: #4e50b8;
  background-color: White;
  box-shadow: none;
  border: 1px solid #bcbdea;
  position: fixed;
  bottom: 2em;
  padding: 0.8em 0em;
  width: 90%;
}

/******************************************************************************
                          Match Page
*******************************************************************************/

.match {
  background-image: none;
  background-color: #4e50b8;
  width: 100vw;
  height: 100vh;
}

.match section:nth-of-type(1) {
  width: 80%;
  margin: 0% 10%;
  display: flex;
  height: 17em;
}

.match section:nth-of-type(1) img {
  border-radius: 10px;
}

.match section:nth-of-type(1) img:nth-of-type(1) {
  /* Match heart*/
  width: 10em;
  height: auto;
  position: absolute;
  top: 10em;
  left: 50%;
  margin-left: -5em;
  z-index: 4;
  transform: rotate(20deg);
}

.match section:nth-of-type(1) img:nth-of-type(2) {
  /* photo of match*/
  position: absolute;
  top: 3em;
  right: 4em;
  z-index: 3;
  height: 13em;
  width: 8em;
  object-fit: cover;
  transform: rotate(25deg);
}

.match section:nth-of-type(1) img:nth-of-type(3) {
  /* photo of user*/
  position: absolute;
  top: 5em;
  z-index: 2;
  width: 8em;
  height: 11em;
  object-fit: cover;
  left: 4em;
  transform: rotate(-25deg);
}

.match section:nth-of-type(2) {
  display: block;
  width: 100vw;
  text-align: center;
  margin-top: 6vh;
}

.match section h1 {
  font-size: 2em;
  color: white;
}

.match section h2 {
  color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 400;
}

.match section a {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #eb4b71;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 1em 0em;
  border-radius: 0.5em;
}

.match section a:nth-of-type(1) {
  margin-top: 5vh;
}

.match section a:nth-of-type(2) {
  margin-top: 1.25em;
  background-color: white;
  border: 1px solid #bcbdea;
  color: #4e50b8;
}

/******************************************************************************
                          Matchlist Page
*******************************************************************************/

.matchlist header {
  margin-bottom: 2em;
}

.matchlist p {
  padding: 0;
  height: 1em;
  text-align: left;
  display: block;
}

.matchlist main {
  height: 100%;
}

.matchlist main ul li {
  width: 100vw;
}

.matchlist article {
  background-color: white;
  width: 100%;
  margin-top: -2px;
  height: 120px;
  padding: 3px 0px;
  border-top: 2px solid rgb(216, 216, 216);
  border-bottom: 2px solid rgb(216, 216, 216);
}

.matchlist main li:last-of-type {
  margin-bottom: 5em;
}

.matchlist article figure {
  position: absolute;
  left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  height: 100px;
  width: 100px;
}

.matchlist article figure img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.matchlist article figcaption {
  position: absolute;
  right: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 60%;
}

.matchlist article figcaption h2 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

/******************************************************************************
                          Error Page
*******************************************************************************/

.error section h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.error section img {
  width: 25%;
  height: auto;
  margin: 0% 37%;
}

.error section p {
  text-align: center;
  margin: 2em;
}

.error section div {
  margin: 0 auto;
}

.error section a {
  text-align: center;
  text-decoration: none;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background-color: #eb4b71;
  box-shadow: 1px 1px 2px rgb(49, 49, 49);
  border: none;
  display: flex;
  width: 80vw;
  justify-content: center;
  margin: 0 auto;
  margin-top: 7em;
  padding: 0.6em 1em;
}

/******************************************************************************
                          TABLET index header
*******************************************************************************/

@media all and (min-width: 600px) {
  /** Header **/
  header ul {
    width: 60vw;
    margin: 0 auto;
  }

  /** Header **/
  footer ul {
    width: 60vw;
    margin: 0 auto;
  }

  .swipe main ul {
    width: 60vw;
    margin: 0 auto;
  }
  .swipe main ul li {
    width: 60vw;
  }
  .swipe section p {
    left: 4em;
  }

  .swipe .info {
    max-width: 3em;
    position: absolute;
    left: 3em;
    top: 3em;
  }

  .swipe section p:nth-of-type(1) {
    bottom: 23vh;
  }

  .swipe section p:nth-of-type(2) {
    bottom: 28vh;
  }

  .swipe section article form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  /*******************************************
              Tablet Currentuser 
  *******************************************/

  .currentUser section .back {
    left: 15%;
  }

  .currentUser main section article:nth-of-type(1) {
    width: 60%;
    left: 50%;
    margin-left: -30%;
    top: 69vh;
  }

  .currentUser main section article:nth-of-type(2) .bar {
    width: 50px;
    top: 2vh;
    left: 50%;
    margin-left: -25px;
  }

  .currentUser .socials {
    width: 60%;
    margin: 0% 20%;
  }
  .currentUser .socials div {
    padding: 1em 1.5em;
    background-color: #dbdcef;
    border-radius: 1em;
    text-align: center;
    border-radius: 0.5em;
  }

  .currentUser .socials div a i {
    border-radius: 0.5em;
    font-size: 2em;
    color: #4e50b8;
  }

  .currentUser .info {
    width: 60%;
    height: auto;
    margin: 0% 20%;
  }

  .currentUser .info .movies p {
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .currentUser .imagebar {
    width: 60%;
    margin: 1em 20%;
  }

  .currentUser .imagebar img {
    width: 28%;
  }

  .currentUser main section article form {
    width: 60%;
    margin: 0% 20%;
    display: flex;
    justify-content: space-between;
    height: 2em;
    margin-bottom: 3em;
    margin-top: 6em;
  }

  /*******************************************
              Tablet Filter 
  *******************************************/

  .filtersPage {
    width: 60%;
  }

  .filtersPage main section form button {
    width: 60%;
  }

  .remove {
    width: 60%;
  }

  /*******************************************
              Tablet match 
  *******************************************/

  .match section:nth-of-type(1) img:nth-of-type(2) {
    /* photo of match*/
    right: 10em;
  }

  .match section:nth-of-type(1) img:nth-of-type(3) {
    /* photo of user*/
    left: 10em;
  }

  .match section a {
    width: 60vw;
  }

  /*******************************************
              Tablet matchlist 
  *******************************************/

  .matchlist main {
    height: 100%;
  }

  .matchlist main ul li {
    width: 60%;
    margin: 0 auto;
    list-style-type: none;
  }

  .matchlist article figure {
    position: absolute;
    left: 21vw;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 100px;
    width: 100px;
  }

  .matchlist article figcaption {
    position: absolute;
    right: 20vw;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    width: 40%;
  }

  /*******************************************
              Tablet sign-in 
  *******************************************/

  .signin main {
    width: 60vw;
  }

  /*******************************************
              Tablet sign-in 
  *******************************************/

  .registration main {
    width: 60vw;
  }
}

@media all and (min-width: 900px) {
  /*******************************************
              Tablet Home 
  *******************************************/

  /** Header **/
  header ul {
    width: 40vw;
    margin: 0 auto;
  }

  /** Header **/
  footer ul {
    width: 40vw;
    margin: 0 auto;
  }

  .swipe main ul {
    width: 40vw;
    margin: 0 auto;
  }
  .swipe main ul li {
    width: 40vw;
  }

  /*******************************************
              Tablet Currentuser 
  *******************************************/

  .currentUser section .back {
    left: 30%;
  }

  .currentUser main section article:nth-of-type(1) {
    width: 40%;
    left: 50%;
    margin-left: -20%;
    top: 69vh;
  }

  .currentUser main section article:nth-of-type(2) .bar {
    width: 50px;
    top: 2vh;
    left: 50%;
    margin-left: -25px;
  }

  .currentUser .socials {
    width: 35%;
    margin: 0% 32.5%;
  }
  .currentUser .socials div {
    padding: 1em 1.5em;
    background-color: #dbdcef;
    border-radius: 1em;
    text-align: center;
    border-radius: 0.5em;
  }

  .currentUser .socials div a i {
    border-radius: 0.5em;
    font-size: 2em;
    color: #4e50b8;
  }

  .currentUser .info {
    width: 35%;
    height: auto;
    margin: 0% 32.5%;
  }

  .currentUser .info .movies p {
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .currentUser .imagebar {
    width: 35%;
    margin: 1em 32.5%;
  }

  .currentUser .imagebar img {
    width: 28%;
  }

  .currentUser main section article form {
    width: 35%;
    margin: 0% 32.55%;
    display: flex;
    justify-content: space-between;
    height: 2em;
    margin-bottom: 3em;
    margin-top: 6em;
  }

  /*******************************************
              Tablet Filter 
  *******************************************/

  .filtersPage {
    width: 40%;
  }

  .filtersPage main section form button {
    width: 40%;
  }

  .remove {
    width: 40%;
  }

  /*******************************************
              Tablet Match 
  *******************************************/

  .match section:nth-of-type(1) img:nth-of-type(2) {
    /* photo of match*/
    right: 15em;
  }

  .match section:nth-of-type(1) img:nth-of-type(3) {
    /* photo of user*/
    left: 15em;
  }

  .match section a {
    width: 50vw;
  }

  /*******************************************
              Tablet matchlist 
  *******************************************/

  .matchlist main {
    height: 100%;
  }

  .matchlist main ul li {
    width: 40%;
    margin: 0 auto;
    list-style-type: none;
  }

  .matchlist article figure {
    position: absolute;
    left: 31vw;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 100px;
    width: 100px;
  }

  .matchlist article figcaption {
    position: absolute;
    right: 30vw;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    width: 26%;
  }

  /*******************************************
              Tablet sign-in 
  *******************************************/

  .signin main {
    width: 40vw;
  }

  /*******************************************
              Tablet sign-in 
  *******************************************/

  .registration main {
    width: 40vw;
  }
}

/******************************************************************************
                          LAPTOP index header
*******************************************************************************/

@media all and (min-width: 1160px) {
  /*******************************************
              Laptop Home 
  *******************************************/

  /** Header **/
  header ul {
    width: 35%;
    margin: 0 auto;
  }

  /** Footer **/
  footer ul {
    width: 35%;
    margin: 0 auto;
  }

  .swipe main ul {
    width: 35vw;
    margin: 0 auto;
  }
  .swipe main ul li {
    width: 35%;
  }

  /*******************************************
              Tablet Currentuser 
  *******************************************/

  .currentUser section .back {
    left: 35%;
  }

  .currentUser main section article:nth-of-type(1) {
    width: 30%;
    left: 50%;
    margin-left: -15%;
    top: 69vh;
  }

  .currentUser main section article:nth-of-type(2) .bar {
    width: 50px;
    top: 2vh;
    left: 50%;
    margin-left: -25px;
  }

  .currentUser .socials {
    width: 30%;
    margin: 0% 35%;
  }
  .currentUser .socials div {
    padding: 1em 1.5em;
    background-color: #dbdcef;
    border-radius: 1em;
    text-align: center;
    border-radius: 0.5em;
  }

  .currentUser .socials div a i {
    border-radius: 0.5em;
    font-size: 2em;
    color: #4e50b8;
  }

  .currentUser .info {
    width: 30%;
    height: auto;
    margin: 0% 35%;
  }

  .currentUser .info .movies p {
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .currentUser .imagebar {
    width: 30%;
    margin: 1em 35%;
  }

  .currentUser .imagebar img {
    width: 28%;
  }

  .currentUser main section article form {
    width: 30%;
    margin: 0% 35%;
    display: flex;
    justify-content: space-between;
    height: 2em;
    margin-bottom: 3em;
    margin-top: 6em;
  }

  /*******************************************
              Laptop Filter 
  *******************************************/

  .filtersPage {
    width: 35%;
  }

  .filtersPage main section form button {
    width: 35%;
  }

  .remove {
    width: 35%;
  }

  /*******************************************
              Laptop matchlist 
  *******************************************/

  .match section:nth-of-type(1) img:nth-of-type(2) {
    /* photo of match*/
    right: 20em;
  }

  .match section:nth-of-type(1) img:nth-of-type(3) {
    /* photo of user*/
    left: 20em;
  }

  .match section a {
    width: 40vw;
  }

  /*******************************************
              Laptop matchlist 
  *******************************************/

  .matchlist main {
    height: 100%;
  }

  .matchlist main ul li {
    width: 35%;
    margin: 0 auto;
    list-style-type: none;
  }

  .matchlist article figure {
    position: absolute;
    left: 33.5vw;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 100px;
    width: 100px;
  }

  .matchlist article figcaption {
    position: absolute;
    right: 32.5vw;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    width: 23%;
  }

  /*******************************************
              Laptop sign-in 
  *******************************************/

  .signin main {
    width: 35vw;
  }

  /*******************************************
              Laptop register 
  *******************************************/

  .registration main {
    width: 35vw;
  }
}
