<!-- Code van Veerle -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("components/head.ejs") %> 
    <title>Page not found</title>
</head>

<body class="error">
    <%- include ("components/header-two.ejs") %> 
        <section>
            <h2>Ooooops</h2>
            <img src="images/icons/error.svg" alt="Warning sign">
            <p>Sorry, the page you are trying to reach does not exist...Go back to the home page.</p>
            <a href="/home">Go to homepage</a>
        </section>
</body>

</html>