<!-- Code van Veerle -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("components/head.ejs") %>
        <title>Dat.io – Filters</title>
</head>

<body class="matchlist">
  <header>
    <a href="/"><img src="images/exit.svg" alt=""></a>
    <h1>My filters</h1>
  </header>
  <main>
      
  </main>
</body>

</html>