<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("components/head.ejs") %>
        <title>Dat.io – Home</title>
</head>

<body class="swipe">
    <header>
        <%- include ("components/header-one.ejs") %>
    </header>
    <main>
        <ul>
            <li>
                <section>
                    <figure>
                        <img src="images/users/user0001.jpg" alt="Image of user">
                        <a href="" class="info"><img src="images/icons/info.svg" alt=""></a>
                        <p>Movie1</p>
                        <p>Movie2</p>
                        <figcaption>
                            <h2>Name, age</h2>
                            <h3>Location</h3>
                            <form action="/match" method="POST">
                                <input type="submit" name="dislike" class="dislike" value="x">
                                <div></div>
                                <input type="submit" name="like" class="like" value="❤">
                            </form>
                        </figcaption>
                    </figure>
                </section>
            </li>
        </ul>

    </main>
    <%- include ("components/footer-h.ejs") %>
</body>

</html>