<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("components/head.ejs") %>
        <title>Dat.io – Profile</title>
</head>

<body class="matchlist">
    <header>
        <%- include ("components/header-two.ejs") %>
    </header>
    <main></main>
    <%- include ("components/footer-p.ejs") %>
</body>

</html>