<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("components/head.ejs") %>
    <title>Dat.io – registration</title>
  </head>
  
  <body class="registration">
   
    <ul>
      <li>
        <h1>Dat.io</h1>
      </li>
    </ul>

    <form action="/registration" id="registration" method="POST">
      <h2>Welcome to Dat.io! Would you like to introduce yourself?</h2>       
        <div class="reg-con-1">
          <label for="firstName"><b>First name</b></label>
          <input type="text" placeholder="First name" name="firstName" required />

          <label for="lastName"><b>Last name</b></label>
          <input type="text" placeholder="Last name" name="lastName" required />
        </div>

       <div class="reg-con-2">
         <label for="email"><b>Email</b></label>
         <input
          type="email"
          name="email"
          minlength="6 "
          maxlength="60 "
          placeholder="example@hotmail.com"
          required
        />
        <label for="password"><b>Password</b></label>
        <input
          type="password"
          name="password"
          minlength="6 "
          placeholder="Min 6 letters"
          required
        />
      </div>

      <h2>Tell us something about yourself..</h2>
      
      <div class="reg-con-3">
        
        <label for="age"
          ><b>What is your age?</b>
          <input
            type="number"
            min="18"
            max="99"
            id="age"
            name="age"
            value="age"
            placeholder="18+"
          />
        </label>

        <h3>What is your gender?</h3>
        <label for="man"
          >Man
          <input type="radio" id="man" name="gender" value="man" />
        </label>
        <label for="woman"
          >Woman
          <input type="radio" id="woman" name="gender" value="woman" />
        </label>

        <!-- <label for="photo">
          <b>Upload a photo of yourself!</b>
          <input type="file" name="fileToUpload" id="fileToUpload" />
        </label> -->

        <label for="photo">
          <b>Upload a photo of yourself!</b></label>
        <input type="file" name="file" id="file" class="inputfile" />
        <label for="photo">Choose a file</label>

        <label for="work"
          ><b>What is your current occupation?</b>
          <input type="text" placeholder="Teacher of the year" name="work" required />
        </label>
      </div>

      <button type="submit">Create</button>

      <a href="registration"
        ><button type="button" class="toSignIn">Sign in</button></a
      >
    </form>
  </body>
</html>
