<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("components/head.ejs") %>
    <title>Register — Dat.io</title>
  </head>

  <body class="registration">
    <header>
      <%- include ("components/header-two.ejs") %>
    </header>
    <main>
      <form action="/registration" id="registration" method="POST">
        <h2>Welcome to Dat.io! Would you like to introduce yourself?</h2>
        <div>
          <label for="firstName">First name</label>
          <input
            type="text"
            placeholder="First name"
            name="firstName"
            required
          />

          <label for="lastName">Last name</label>
          <input type="text" placeholder="Last name" name="lastName" required />
        </div>

        <div>
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            minlength="6 "
            maxlength="60 "
            placeholder="example@hotmail.com"
            required
          />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            minlength="6 "
            placeholder="Min 6 letters"
            required
          />
        </div>

        <h2>Tell us something about yourself..</h2>

        <div>
          <label for="age"
            >What is your age?
            <input
              type="number"
              min="18"
              max="99"
              id="age"
              name="age"
              value="age"
              placeholder="18+" required
            />
          </label>

          <h3>What is your gender?</h3>
          <div>
            <label for="man"
              >Man
              <input type="radio" id="man" name="gender" value="man" />
            </label>
            <label for="woman"
              >Woman
              <input type="radio" id="woman" name="gender" value="woman" />
            </label>
          </div>

          <label for="work"
            >What is your current education or work spot?
            <input
              type="text"
              placeholder="Teacher of the year"
              name="work"
              required
            />
          </label>

          <label for="movie1">What are your movie preferences?</label>
          <select name="movie1" required>
            <option value="firstChoice" disabled>-- Choose an option</option>
            <option value="actionMovies">#actionMovies</option>
            <option value="adventureMovies">#adventureMovies</option>
            <option value="comedyMovies">#comedyMovies</option>
            <option value="romanceMovies">#romanceMovies</option>
            <option value="fantasyMovies">#fantasyMovies</option>
            <option value="thrillerMovies">#thrillerMovies</option>
            <option value="horrorMovies">#horrorMovies</option>
            <option value="westernMovies">#westernMovies</option>
            <option value="disneyMovies">#disneyMovies</option>
          </select>
          <select name="movie2" required>
            <option value="secondChoice" disabled>-- Choose an option</option>
            <option value="actionMovies">#actionMovies</option>
            <option value="adventureMovies">#adventureMovies</option>
            <option value="comedyMovies">#comedyMovies</option>
            <option value="romanceMovies">#romanceMovies</option>
            <option value="fantasyMovies">#fantasyMovies</option>
            <option value="thrillerMovies">#thrillerMovies</option>
            <option value="horrorMovies">#horrorMovies</option>
            <option value="westernMovies">#westernMovies</option>
            <option value="disneyMovies">#disneyMovies</option>
          </select>
        </div>

        <button type="submit">Create</button>

        <a href="signin" class="toSignIn">Back to sign in</a>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
