<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("components/head.ejs") %>
    <title>Sign in — Dat.io</title>
  </head>
  <body class="signin">
    <header>
      <%- include ("components/header-two.ejs") %>
    </header>
    <main>
      <p><%=text%></p>
      <form action="/signIn" id="signIn" method="POST">
        <div>
          <label for="email">Email</label>
          <input type="email" placeholder="example@mail.com" name="email" />

          <label for="password">Password</label>
          <input type="password" placeholder="******" name="password" />
        </div>

        <div>
          <label>
            <input type="checkbox" checked="checked" name="remember" />
            Remember me
          </label>

          <button type="submit">Login</button>
          <div>
            <a href="registration">Registration</a>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
